/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@700&display=swap');

@import "tailwindcss";

/* optional: small body reset */
body { 
  background-color: #f9fafb; /* bg-gray-50 equivalent */
}


